<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--URLs-->
		<!--<add key="DevUrl" value="insert dev url here" />-->
		<!--<add key="QAUrl" value="insert qa url here" />-->
		<add key="ProdUrl" value="http://www.westpac.co.nz/" />

		<!--Environment-->
		<!--<add key="Environment" value="dev" />-->
		<!--<add key="Environment" value="qa" />-->
		<add key="Environment" value="prod" />

		<!--Grid Execution-->
		<add key="RunOnGrid" value="False" />
		<add key="GridServer" value="" />

		<!--Browser-->
		<add key="Browser" value="Chrome" />
		<!--<add key="Browser" value="Firefox" />-->
		<!--<add key="Browser" value="IE"  />-->

		<!--Screenshot Repo-->
		<add key="ScreenshotRepo" value="C:\Screenshots\" />
	</appSettings>
</configuration>